<html>
	<head>
		
		<title>
			
			Welcome To my Site !
			
			
		</title>
			
			<style type="text/css">
			
			body{
				background-color:#FFFF00;
				
			}
				h1{
					color:black;
					font:"Arial Black";
					font-size:xx-large;
					font-weight:400;
				}
				
			div {
				
				
				background-color:voilet;
				
			}
			
			a {
				
				color:blue;
			}
			
			a:hover{
				color:#008000;
				font-size:large;
				font:"Bodoni MT";
			}
				
				
				
			</style>
			
			
			
			<script type="text/javascript">
				function display() {
					
					alert("welcome to Site!");
				}
				
				
			</script>
		
		
		
		
	</head>
	<body onload="display()">
		<embed  src="http://www.bjaya.com/sounds/Titanic_-_my_heart_will_go_on.mp3" loop ="false" autoplay="true" hidden="true" ></embed>
		
		
		
	<h1 align="center"><em>Welcome to My Django Site !</em></h1>
	<div align="center">
		<a href="/admin/">ADMIN PANEL</a>
		<a href="/time/">TIME</a>
		<a href="/contact-form">CONTACT</a>
		<a href="/search/">SEARCH</a>
	</div>	
	<footer>Created By Amardeep</footer>
	</body>
	
	
</html>